@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

    <img src="~/images/meme.jpg" alt="Meme favorito" class="meme-img" />

    <br /><br />

    <input type="text" placeholder="Escribe algo..." class="form-control w-50 mx-auto" />

    <br />

    <button class="btn btn-outline-info btn-lg" onclick="alert('dame los modelos primero')">
        Mostrar Alerta
    </button>
</div>
